<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=2"/>
<title>
{% if page.home_layout == ' true' %}
{{ page.title }} | 
{% endif %}
Daniel Shao Flute</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<style type="text/css"> @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700"); @import url("style.css"); </style>
<script async src="google.js"></script>
</head>

-{{ page.home_layout }}-

<body>
<header><a href="http://danielshao.co.uk">Daniel Shao</a></header>

<nav><ul>
<li><a href="index">Home</a></li>
<li><a href="Biography">Biography</a></li>
<li><a href="Concerts">Concerts</a></li>
<li><a href="Reviews">Reviews</a></li>
<li><a href="Media">Media</a></li>
<li><a href="Contact">Contact</a></li>
</ul></nav>

<article>{% if page.home_layout != 'true' %}<h1>{{ page.title }}</h1>{% endif %}
{{ content }}
</article>

</body></html>